.registration {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.registration__hide_see_button {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.registration__tittle {
  margin: 15px auto 0;
  font-size: 40px;
}

.registration__form {
  margin: 0px;
  width: 35%;
  height: 80%;
  background-color: white;
  opacity: 1;
  z-index: 2;

  border-radius: 20px;
  text-align: center;
}

p {
  margin: 5px auto;
  font-size: 25px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.form__element {
  margin: 10px auto 0px;
  width: 80%;
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  opacity: 0.7;
}

.element {
  width: 100%;
  height: 60%;

  border-radius: 10px;
  border-width: 0.5px 1px 1px;
  border-color: rgba(200, 200, 200, 0.223);
  background-color: rgba(200, 200, 200, 0.578);
  font-size: 20px;

  padding: 5px;
}

.form__button {
  width: 80%;
  height: 10%;
  margin: 40px 10px;

  font-size: 20px;

  border-radius: 10px;
  border-width: 0.5px 1px 1px;
  border-color: #ffffff;
  background-color: #0047ff;
  color: #ffffff;
}
