.clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.photo {
  margin: 10px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 0.5px solid #000;
}

.profile_input {
  width: 0;
  height: 0;
}

.conteiner {
  border-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #0000005d;
}

.parcipant {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 90%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.747);
  margin: 6px;
  border-radius: 20px;
  border: 0.5px solid #0000001c;
}

/* .parcipant:hover {
  background-color: aliceblue;
} */

.parc_photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
